# Files
*.DS_Store
test_class.py
extract_text.py
test_main.py
commands.txt
house_price_analysis.ipynb
.env
house_scraper_headless_local.py

# Folders
*__pycache__/
media_test/
data_test/
archive/
house_pictures_local/
.vscode/
.venv/
venv/
